html {
    height: 100%
}

body {
    background: #e0e0e0;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

header {
    background: rgba(255, 255, 255, 0.94);
    height: 55px;
    box-shadow: 0 0 5px #888888;
    position: fixed;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    z-index: 2;
}

    header h1 {
        margin: 0 20px;
        padding-top: 9px;
        padding-bottom: 0;
        font-size: 35px;
        float: left;
    }

        header h1 a {
            color: #797979;
            text-decoration: none;
        }

        header h1 i {
            font-style: normal;
            color: #8fcc5d;
        }

    header nav {
        float: right;
        padding: 21px 10px 0;
        margin-right: 10px;
    }

        header nav ul {
            margin: 0;
            padding: 0;
        }

            header nav ul li {
                float: left;
                list-style: none;
                margin-left: 15px;
            }

                header nav ul li a {
                    color: #53b38a;
                    text-decoration: none;
                }

.info-messages {
    background: #fff89b;
    color: #3e4040;
    width: 820px;
    margin: 0 auto -20px;
    padding: 0;
}
    .info-messages li {
        margin: 0;
        padding: 20px;
        list-style: none;
    }

#map {
    width: 100%;
    height: 100%;
}

#detail-map {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 800px;
    height: 300px;
}

#select-point-map {
    width: 755px;
    height: 300px;
}

section.content {
    background: white;
    width: 800px;
    margin: 20px auto;
    padding-top: 10px;
}

    section.content h1,
    section.content h3 {
        margin: 0 10px;
        padding: 20px 10px;
    }

    section.content h1 {
        color: gray;
        padding-bottom: 4px;
        font-size: 30px;
    }

    section.content h3 {
        color: #4c4c4c;
        font-size: 35px;
        padding-top: 0;
        padding-bottom: 0;
    }

    section.content .place-photo {
        margin-top: 15px;
    }

    section.content .place-photo img {
        width: 800px;
    }

    section.content p:first-child {
        margin-top: 20px;
    }

    section.content .description {
        margin-bottom: 10px;
    }

    section.content p {
        margin: 9px 20px 2px;
        color: #515151;
        width: 600px;
        padding: 0 0 10px;
        line-height: 1.5em;
    }

    section.content .description a {
        color: #449b4c;
    }

    section.content ul.features {
        position: absolute;
        margin: 70px 20px 0 585px;
        padding: 0 0 30px;
        overflow: hidden;
        float: left;
        width: 200px;
    }

    section.content ul.features li {
        list-style: none;
        background: #87b341;
        color: white;
        padding: 10px;
        /*width: 205px;*/
        margin: 5px;
        text-align: right;
        float: right;
        box-shadow: 0 2px 0 #fff;
    }

    section.content hr {
        margin: 20px 10px;
        padding: 0;
        border: none;
        border-top: medium double #a7a7a7;
        color: #333;
        text-align: center;
    }

    section.content hr:after {
        content: "§";
        display: inline-block;
        position: relative;
        margin-left: -20px;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: white;
        color: #5a5a5a;
    }

    section.content#transport-map {
        margin-top: 30px;
        padding-top: 15px;
    }

    section.content#transport-directions {
        padding-top: 20px;
        padding-bottom: 8px;
    }

    section.content#place-info {
        padding-top: 0;
        padding-bottom: 5px;
    }

    section.content#place-features {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    section.content#people {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    section.content#people .added-by {
        margin: 10px 30px;
        border-right: 1px dashed #e0e0e0;
        width: 150px;
    }

    section.content#people .added-by img {
        margin-bottom: 5px;
    }

    section.content#people .added-by h4 {
        color: #464646;
        font-size: 17px;
    }

    section.content#people .added-by a {
        display: block;
        width: 125px;
        text-align: center;
        text-decoration: none;
        color: gray;
    }

footer {
    width: 740px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    color: gray;
    border-top: 10px solid darkseagreen;
}

body#place-detail header {
    position: static;
    margin: auto;
    box-shadow: none;
}

form input,
form textarea {
    font-size: 20px;
    font-family: helvetica, sans-serif;
}

form#new-place {
    margin: 10px 2px;
}

    form#new-place label {
        display: block;
    }

    form#new-place #id_title,
    form#new-place #id_city {
        width: 200px;
        padding: 4px;
    }

    form#new-place #id_directions {
        width: 400px;
        height: 100px;
        padding: 5px;
    }

    form#new-place #submit {
        margin-left: 20px;
        margin-bottom: 40px;
    }