{% extends "base.html" %}

{% block body-id %}place-detail{% endblock %}

{% block content %}
<section class="content">
    {% if place.image %}
    <div class="place-photo">
        <img src="{{ place.image.url }}" alt="{{ place.title }}"/>
    </div>
    {% endif %}
    <h1>{{ place.city }}</h1>
    <h3>{{ place.title }}</h3>
    <div class="description">
        {{ place.description }}
    </div>
    <h3>Kamp Alanı</h3>
    <div id='detail-map'></div>
    <h3>Nasıl Ulaşırım</h3>
    <p>{{ place.directions }}</p>
    <h3>Alan Özellikleri</h3>
    <ul class="features">
        {% for feature in place.features.all %}
            <li>{{ feature.name }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function () {
        var places = new campgrounds.PlaceList();

        new campgrounds.MapView({
            marker_template: "#marker-template",
            el: "#detail-map",
            model: places,
            latitude: {{ place.location.y }},
            longitude: {{ place.location.x }},
            zoom: 15
        }).render();

        places.add({
            "title": "{{ place.title }}",
            "image": "{{ place.image_url }}",
            "url": "#",
            "coordinates": {
                "latitude": "{{ place.location.y }}",
                "longitude": "{{ place.location.x }}"
            }
        });
    });
</script>
{% endblock %}