{% extends "base.html" %}

{% load map_tags %}

{% block body-id %}place-detail{% endblock %}

{% block content %}
<section class="content" id="place-info">
    <h1>{{ place.city }}</h1>
    <h3>{{ place.title }}</h3>
    {% if place.image %}
    <div class="place-photo">
        <ul class="features">
            {% for feature in place.features.all %}
                <li style="background-color: {{ feature.color }};">{{ feature.name }}</li>
            {% endfor %}
        </ul>
        <img src="{{ place.image.url }}" alt="{{ place.title }}"/>
    </div>
    {% endif %}
    <div class="description">
        {{ place.description }}
    </div>
</section>
<section class="content" id="transport-map">
    <h3>Kamp Alanı</h3>
    <div id='detail-map'></div>
</section>

<section class="content" id="transport-directions">
<h3>Nasıl Ulaşırım</h3>
    <p>{{ place.directions }}</p>
</section>

<section class="content" id="people">
<h3>Topluluk</h3>
<div class="added-by">
    <h4>Bu alanı ekleyen</h4>
    <a href="#">
        <img src="{{ place.user.gravatar }}" alt=""/>
        <br/>
        {{ place.user.get_full_name }}
    </a>

</div>
<div class="people-who-stay">

</div>
</section>

<footer>hello foo bar</footer>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function () {
        var places = new campgrounds.PlaceList();

        new campgrounds.MapView({
            marker_template: "#marker-template",
            el: "#detail-map",
            model: places,
            latitude: {{ place.location.y|replace_comma }},
            longitude: {{ place.location.x|replace_comma }},
            zoom: 15
        }).render();

        places.add({
            "title": "{{ place.title }}",
            "image": "{{ place.image_url }}",
            "url": "#",
            "coordinates": {
                "latitude": {{ place.location.y|replace_comma }},
                "longitude": {{ place.location.x|replace_comma }}
            }
        });
    });
</script>
{% endblock %}